a {
    text-decoration: none;
}
header {
    display: flex;
}
.header-title {
    margin: auto;
}
.main-wrapper {
    display: flex;
}
.avator {
    width: 20px;
    padding: 5px;
}
.tables {
    padding: 10px 5px;
    float: left;
    width: 100%;
}
.btn {
    border: solid 1px!important;
    border-radius: 5px!important;

}
.user-list {
    border: solid 1px!important;
}
.solid {
    border: solid 1px!important;
    border-color: #f5f5f5!important;
}
.btn-blue {
    background-color: blue!important;
    color: white!important;
}
.btn-red {
    background-color:red!important;
    color: white!important;
}
.name {
    width: 300px;
}
.email {
    width: 400px;
}
.list-header {
    display: flex;
}
.list-header-left {
    margin-right: auto;
}
.btn-send {
    border-radius: 5px;
    background-color: white;
}
.btn-add{
    border-radius: 5px;
    background-color: blue;
    color: white;
    border-color: blue;
}

.sidebar {
    background-color:#87ceeb!important;
    display: flex;
}
.pagination {
    list-style: none;
}
.system {
    list-style: none;
}
.system>h3 {
    font-size: 20px;
}
footer {
    text-align: center;
}
